
<h1> Eligbility Form </h1>

<div class= "small- 12 columns small-centered">
  <p>Please use the form below to enter the information from the first closed case on your CORI report </p>
</div>

<div class= "small-12-columns small-centered" id="eligibility-form" align= "center" >

<div>
