#terms-pane	{
   width:700px;
   height:200px;
   overflow:scroll;
   border:1px
   solid #ccc;
   background:#eee;
   color: #222222
 }

#terms-pane h2 {
  color: black;
}

#new_user {
  margin-top: 6em;
}
